* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*  23395d      */
    background-color: #3474e6;
    color: white;
    font-family: "Roboto" ,sans-serif;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

/* My Top Navigation Bar*/
#NavBar {
    list-style-type: none;
    background-color: #23395d;
    margin: 0;
    height: 55px;
    display: flex;
    flex-direction: row;
    font-size:  10px;
    justify-content: center;
    align-items: center;
    line-height: 3vw;

}

#NavBar a {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#NavBar li {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid white;
}

#NavBar a:link {
    color:white;
}

#NavBar a:visited {
    color:white;
}

#NavBar a:hover {
    color:white;
    text-decoration: underline; 
}

#NavBar a:active {
    color:white;
}

.image {
    border: 3px solid white;
}

#imagesCollection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vw;
    background-color: crimson;
}

